
body {
	background-color: #a9e9ca;

	line-height: 34px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #a9e9ca;
	margin: auto;
	width: 960px;
	font-size: 18px
	
}

header, nav, section, aside, footer {
	display: block;
	padding: 10px;
	margin: 10px;
	background-color: #e96;
	text-align: center;
}

section {
	margin-top: 0px;
	width: 500px;
	float: left;
	height: 267px;
	overflow: hidden;
}

aside {
	margin-top: 0px;
	float: right;
	width: 380px;
	height: 267px;
	overflow: hidden;
}

footer {
	margin-top: 0px;
	clear: both;
}

article {
	background-color: #a9e9ca;
	color: #e96;
	padding: 10px;
}

h1, p {
	background-color: #e96;
	color: #a9e9ca;
	padding: 10px;
	margin: 10px;
}

.clear {
	clear: both;
}